:root {
  --bg-gradient: linear-gradient(135deg, #ff4ecf, #8f5aff);
  --card-bg: rgba(20, 0, 40, 0.9);
  --pink: #FF4ECF;
  --purple: #8F5AFF;
  --white: #FFFFFF;
  --glow: 0 0 20px rgba(255, 78, 207, 0.8);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #1c0030, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Wrapper */
.signup-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Card */
.signup-card {
  width: 100%;
  max-width: 400px;
  background: var(--card-bg);
  padding: 40px 60px;
  border-radius: 25px;
  box-shadow: var(--glow);
  text-align: center;
  position: relative;
  animation: fadeIn 1s ease;
}


.neon-text {
  font-size: 28px;
  color: var(--pink);
  text-shadow:
    0 0 5px var(--pink),
    0 0 10px var(--pink),
    0 0 20px var(--purple),
    0 0 30px var(--purple);
}


.subtitle {
  color: #ffb0ff;
  margin-bottom: 25px;
  font-size: 14px;
  text-shadow: 0 0 5px #ff4ecf;
}


.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid #fff;
  background: transparent;
  color: var(--white);
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.input-container input:focus {
  border-color: var(--pink);
  box-shadow: 0 0 10px var(--pink);
}

.input-container label {
  position: absolute;
  top: 15px;
  left: 4px;
  color: #ffb0ff;
  pointer-events: none;
  transition: 0.3s;
}

.input-container input:focus + label,
.input-container input:valid + label {
  top: -10px;
  font-size: 12px;
  color: var(--pink);
  background: var(--card-bg);
  padding: 0 5px;
}


.btn-neon {
  width: 100%;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  background: var(--bg-gradient);
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
  box-shadow: var(--glow);
}

.btn-neon:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 25px var(--pink), 0 0 35px var(--purple);
}


.text-pink {
  color: var(--pink);
  font-weight: 500;
}

.text-pink:hover {
  text-decoration: underline;
}

.p1 {
    color: var(--white);
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(30px);}
  to {opacity: 1; transform: translateY(0);}
}


@media (max-width: 480px) {
  .signup-card {
    padding: 30px 20px;
  }

  .neon-text {
    font-size: 24px;
  }

  .btn-neon {
    font-size: 15px;
  }
}
